################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/01409b18-a489-4d74-9617-527065ac36ed.vsidx
/lab3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/566f8af4-6143-4798-a1c3-b86f037e20a1.vsidx
/lab3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/8ea2d963-e56a-4f09-918c-4f58b00dd1c2.vsidx
/lab3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9a31f967-fc51-472b-8857-ae0152e08f8c.vsidx
